.wrapper {
    min-height: 100vh;
    position: relative; 
    padding-bottom: 60px; 
}

footer {
    position: absolute;
    bottom: 0; 
    width: 100%;
}

.small-label {
    font-size: 15px; /* Ajusta el tamaño de fuente según tus preferencias */
}
.small-input {
    width: 130px; /* Ajusta el ancho según tus preferencias */
    font-size: 15px; /* Ajusta el tamaño de fuente según tus preferencias */
}


@media (max-width: 768px) {
    footer{
        position: relative;
    }
}