.wrapper {
    min-height: 100vh;
    position: relative; 
    padding-bottom: 60px; 
}

footer {
    position: absolute;
    padding-top: 100px;
    bottom: 0; 
    width: 100%;
}

.small-label {
    font-size: 15px;
}
.small-input {
    width: 130px; 
    font-size: 15px; 
}
.checkcheck{
    overflow: hidden;
    width: auto;
}   

.swal2-styled.swal2-confirm.swalBtnColor {
    background: #1c7ee0;
  }
.swal2-styled.swal2-deny.swalBtnColor2 {
    background: #76a0c9;
}
.swal2-styled.swal2-cancel.swalBtnColor3 {
    background: #dd1d1d;
}


#hoverText {
    font-size: 12px;
    transition: color 0.3s; /* Transición suave para el cambio de color */
  }

  #hoverText:hover {
    color: rgb(185, 160, 17); /* Cambiar el color al pasar el mouse */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
  }

  #hoverText:hover::after {
    content: "Los horarios que se muestran, son los únicos disponibles. Si usted necesita otro horario contacte al administrador.";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: -60px;
    margin-left: -30px;
  }

  /* Estilo para editar */
.editar-hover:hover::after {
    content: "Editar";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: -60px;
    margin-left: -30px;
  }
  
  /* Estilo para eliminar */
  .eliminar-hover:hover::after {
    content: "Eliminar";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: -60px;
    margin-left: -30px;
  }
  
    /* Estilo para acciones */
    .acciones-hover:hover::after {
        content: "Mandar respuesta y cambiar estado";
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.753);
        color: white;
        padding: 5px;
        border-radius: 5px;
        margin-top: -90px;
        margin-left: -30px;
      }

    /* Estilo para correo */
    .correo-hover:hover::after {
        content: "Enviar correo Jefe de Carrera";
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.753);
        color: white;
        padding: 5px;
        border-radius: 5px;
        margin-top: -90px;
        margin-left: -30px;
    }

    /* Estilo para reserva usuario */
    .reserva-hover:hover::after {
        content: "Consulta disponibilidad del espacio";
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.753);
        color: white;
        padding: 5px;
        border-radius: 5px;
        margin-top: -65px;
        margin-left: -30px;
    }

    /* Estilo para detalle de reporte */
    .detalle-hover:hover::after {
        content: "Ver detalles del reporte";
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.753);
        color: white;
        padding: 5px;
        border-radius: 5px;
        margin-top: -67px;
        margin-left: -40px;
    }

 /* Estilo personalizado para el menú lateral */
 #sidebar {
    background: #343a40; /* Fondo oscuro */
    height: auto;
    color: #ffffff;
    width: 250px; /* Ancho del menú lateral */
    overflow-y: auto; /* Agrega una barra de desplazamiento en caso de que el contenido sea largo */
}
#sidebar a.nav-link {
    color: #fff; /* Texto en blanco */
}
#sidebar a.nav-link:hover {
    background: #555; /* Color de fondo al pasar el ratón */
}



@media (max-width: 768px) {
    footer{
        position: relative !important;
    }

    #sidebar {
        background: #343a40; /* Fondo oscuro */
        height: auto;
        color: #fff;
        width: 100%; /* Ancho del menú lateral */
        overflow-y: auto; /* Agrega una barra de desplazamiento en caso de que el contenido sea largo */
    }

    .checkcheck{
        padding: 5px;
        margin: 5px;
        font-size: 14px;
    }
    .checkcheck input[type="checkbox"] {
        transform: scale(0.8);
      }
}